FACEBOOK_PAGE_TOKEN=YOUR_FACEBOOK_PAGE_TOKEN

FACEBOOK_PAGE_ID=YOUR_FACEBOOK_PAGE_ID

TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN

TELEGRAM_CHAT_ID=YOUR_TELEGRAM_CHAT_ID

GOOGLE_GEMINI_API_KEY=YOUR_GOOGLE_GEMINI_API_KEY

OPENROUTER_API_KEY=YOUR_OPENROUTER_API_KEY